{% extends 'base.html.twig' %}

{% block title %}
    {{ block('title') }}
{% endblock %}

{% block body %}
    <style>
        body{
            padding: 0;
            margin:0;
        }
        #cigar-index-search{
            border-radius:50px;
            margin-top:17px;
            font-size:22px;
            border:none;
        }
        #main-nav{
            /*height:75px;*/
        }
        /*#search-field{*/
            /*width:200px;*/
            /*border-radius:5px;*/
            /*margin-top:10px;*/
            /*border:none;*/
            /*font-size:20px;*/
            /*background-color:grey;*/
            /*opacity:.5;*/
            /*transition:opacity .5s, background-color .5s;*/
            /*-webkit-transition:opacity .5s, background-color .5s;*/
        /*}*/
        /*#search-field:focus{*/
            /*opacity:1.0;*/
            /*background-color:white;*/
        /*}*/

        /*#search-field{*/
            /*width:500px;*/

        /*}*/

        #search-dropdown{
            background-color:white;
            position:fixed;
            font-size:15px;
            margin-left: 10px;
            box-shadow: black 1px 10px 54px;
            margin-top:10px;
            z-index:11;
            width:315px;
            padding:10px;
        }
    </style>

    {#<nav class="navbar navbar-inverse" id="main-nav">#}
        {#<div class="container-fluid">#}
            {#<ul class="nav navbar-nav nav-justified">#}
                {#<li class="">#}
                    {#<input type="text" id="search-field">#}
                {#</li>#}
                {#<li class=""></li>#}
                {#<li class=""><a href="#">Page 2</a></li>#}
                {#<li class=""><a href="#">Page 3</a></li>#}
            {#</ul>#}
        {#</div>#}
    {#</nav>#}
    {#<div class="col-md-3" id="search-dropdown" style="display:none"></div>#}

    {#<nav class="navbar navbar-inverse navbar-fixed-top">#}
        {#<div class="container-fluid">#}
            {#<!-- Collect the nav links, forms, and other content for toggling -->#}
            {#<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
                {#<ul class="nav navbar-nav">#}
                    {#<form class="navbar-form navbar-left">#}
                        {#<div class="form-group">#}
                            {#<input type="text" class="form-control" id="search-field" placeholder="Search for cigar">#}
                        {#</div>#}
                        {#<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">#}
                            {#<label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">#}
                                {#<i class="material-icons">search</i>#}
                            {#</label>#}
                            {#<div class="mdl-textfield__expandable-holder">#}
                                {#<input class="mdl-textfield__input" type="text" id="search-field" placeholder="Search for cigar">#}
                                {#<label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>#}
                            {#</div>#}
                        {#</div>#}
                    {#</form>#}
                    {#<li class="navbar-right"><a href="{{ path('list-humidors') }}">Humidors</a></li>#}
                    {#<li class="navbar-right"><a href="#">Link</a></li>#}
                    {#<li class="navbar-right"><a href="#">Link</a></li>#}
                {#</ul>#}
            {#</div><!-- /.navbar-collapse -->#}
        {#</div><!-- /.container-fluid -->#}
    {#</nav>#}
    <div class="mdl-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header" style="background-color:#222222">
            <div class="mdl-layout__header-row">
                <form class="navbar-form navbar-left">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
                        <label class="mdl-button mdl-js-button mdl-button--icon"
                               for="search-field">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" name="sample"
                                   id="search-field">
                        </div>
                    </div>
                </form>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="{{ path('list-humidors') }}">Humidors</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>

                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content"><!-- Your content goes here --></div>
        </main>
    </div>
    <div id="search-dropdown" style="display:none"></div>
    {{ block('content') }}



{% endblock %}

{% block stylesheets %}
    {{ block('styles') }}
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}
