{% extends ':default:layout.html.twig' %}

{% block title %}
    Your Humidor
{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background-image:url({{ asset('images/humidor_page/cedar.jpg') }});
        }
        #vr-main{
            position:relative;
        }
        #vr-outer{
            /*width:960px;*/
            width:760px;
            display:block;
            margin:300px auto;
            /*height:600px;*/

            box-shadow: black 0px 50px 70px 4px;
            -webkit-box-shadow: black 0px 50px 70px 4px;
            -o-box-shadow: black 0px 50px 70px 4px;
            -moz-box-shadow: black 0px 50px 70px 4px;
            border-radius:20px;

            z-index:10;
        }
        #droppable-zone{
            /*opacity: .15;*/
            /*background-color:red;*/
            width:620px;
            height:390px;
            position:absolute;
            display:block;
            top:30px;
        }
        .slot{
            width:11.90%;
            /*width:70px;*/
            /*border: black inset 5px;*/
            position:relative;
            display: inline-block;
            margin:0;
            padding:0;
            height:390px;
        }
        .slot-filled{
            top:-191px;
            cursor:pointer;
            box-shadow:0 0 0 black;
            -webkit-box-shadow:0 0 0 black;
            -webkit-transition: box-shadow .5s; /* For Safari 3.1 to 6.0 */
        }
        .slot-filled:hover{
            box-shadow:0 15px 70px 5px black;
            -webkit-box-shadow:0 15px 70px 5px black;
        }



        .ddelem{
            margin: 5px 0;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            adjustDroppableZone();  //lets go ahead and place the droppable zone overtop of our humidor
            $(window).resize(function(){ adjustDroppableZone()});    //if the windows resized, our droppable zone needs readjusting according to the offset of the humidor

            var typingTimer;                //timer identifier
            var doneTypingInterval = 500;  //time in ms, 5 second for example
            var $input = $('#search-field');

            $input.on('keyup', function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            });

            $input.on('keydown', function () {
                clearTimeout(typingTimer);
            });

            $input.on('keyup paste', function(){
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            });

            initDroppables();

            $('#search-field').blur(function(){
                $('#search-dropdown').hide();
            });
        });

        var selected_cigar_id;

        function initDroppables(){
            $('.slot').droppable({
                drop: function(event, ui) {
                    var cigarNumber = ui.draggable.attr('id');
                    var slotNumber = $(this).attr('id');

                    ui.draggable.draggable( 'disable' );
                    $(this).droppable('disable');
                    ui.draggable.position( { of: $('#'+ slotNumber), my: 'left top', at: 'left top' } );
                    ui.draggable.draggable( 'option', 'revert', false );
                    $.ajax({
                        method: "GET",
                        url: "{{  path('attach-cigar-to-slot') }}",
                        data: { slotId : slotNumber, cigarId : cigarNumber, humidorId : {{ humidor.id }} },
                        success: function(data){
                            window.location.reload();
                        }
                    })

                }
            });
        }

        function doneTyping () {
            $.ajax({
                method: "GET",
                url: "{{ path('cigar-manual-query') }}",
                data: { search : $('#search-field').val() },
                success: function(data){
                    $('#search-dropdown').empty();
                    if(data) {
                        for(var i = 0; i < data.length; i++) {
                            $('#search-dropdown').append(data[i]).slideDown(100);
                            $('.draggable').draggable({
                                cursor: 'move',
                                containment: 'document',
                                helper: 'clone',
//                                helper: function(){
//                                    return "<div class='ddelem draggable' style='float:right'>" +
//                                        "<img style='max-width:70px;height:390px;' class='img-fluid' src='http://cigarcatcher.dev/uploads/cigar/" + image + "'></div>";
//                                },
                                snap: '.slot',
                                revert: true
                            });

                        }
                    }
                }
            });
        }

        function adjustDroppableZone(){
            var h_offset = $('#vr-outer').offset();
            var h_left = h_offset.left;   //our humidors offset from left of screen
            $('#droppable-zone').css("left", h_left + 65 + 'px');  //make sure our droppable zone has same offset with proper tweaking
        }

        function setModal(cigarId, age, name, body, description, fillerCountry){
            selected_cigar_id = cigarId;
            var target = document.getElementById('cigar-modal');
            var spinner = new Spinner(opts).spin(target);
            $('#aged-days').html(age);
            $('#name').html(name);
            $('#description').html(description);
            $('#filler').html(fillerCountry);
            $('#body').html(body);

            $.ajax({
                url:"{{ path('get-cigar-info') }}",
                data: { id: cigarId },
                success: function(data){
                    $('#wrapper-name').html(data.wrapperName);
                    $('#wrapper-color').html(data.wrapperColor);
                    $('#wrapper-country').html(data.wrapperCountry);
                    $('#manufacturer-name').html(data.manufacturerName);
                    $('#manufacturer-description').html(data.manufacturerDescription);
                    $('#shape-type').html(data.shapeName);
                    spinner.stop();
                }
            })
        }

        function reactionModal(){
            $("#reaction-modal").modal("show");
            $("#experiences-click").click();
            var target = document.getElementById('reaction-modal');
            var spinner = new Spinner(opts).spin(target);
            $.ajax({
                type: "GET",
                url: "{{ path('get-experience') }}",
                data: {cigar_id: selected_cigar_id},
                success: function(data){
                    spinner.stop();
                    var archive = $('#experience-archive');
                    archive.empty();
                    if(data.length > 5){
                        archive.css('overflow','scroll');
                    }
                    for(var i = 0; i< data.length; i++)
                    {
                        archive.append('<div><h5>'+data[i].submittedBy+'</h5><p>'+data[i].description+'</p></div><hr style="margin-top:10px;">');
                    }
                }
            });
        }

        function submitExperience(id){
            if($('#experience-text').val() != '') {
                $.ajax({
                    type: "POST",
                    url: "{{ path('add-experience') }}",
                    data: {experience: $('#experience-text').val(), cigar_id: selected_cigar_id},
                    success: function (data) {

                    }
                });
            }
        }
    </script>

{% endblock %}

{% block content %}
<div class="" id="vr-main">
    {#<div id="vr-outer"></div>#}
    <div id="droppable-zone">
        {% if humidor.slot1 is not null %}
            <div id="slot1" class="slot slot-filled" data-toggle="modal" data-target="#cigar-modal" onmousedown="setModal({{ humidor.slot1.id }},'{{ humidor.slot1Age }}', '{{ humidor.slot1.name }}', '{{ humidor.slot1.body }}', '{{ humidor.slot1.description }}', '{{ humidor.slot1.fillerCountry }}')">
                <img style='width:100%;height:100%;' src="{{ asset('uploads/cigar/' ~ humidor.slot1.image) }}">
            </div>
        {% else %}
            <div id="slot1" class="slot"></div>
        {% endif %}
        {% if humidor.slot2 is not null %}
            <div id="slot2" class="slot slot-filled"  data-toggle="modal" data-target="#cigar-modal" onmousedown="setModal({{ humidor.slot2.id }},'{{ humidor.slot2Age }}', '{{ humidor.slot2.name }}', '{{ humidor.slot2.body }}', '{{ humidor.slot2.description }}', '{{ humidor.slot2.fillerCountry }}')">
                <img style='width:100%;height:100%;' src="{{ asset('uploads/cigar/' ~ humidor.slot2.image) }}">
            </div>
        {% else %}
            <div id="slot2" class="slot"></div>
        {% endif %}
        {% if humidor.slot3 is not null %}
            <div id="slot3" class="slot slot-filled" data-toggle="modal" data-target="#cigar-modal" onmousedown="setModal({{ humidor.slot3.id }},'{{ humidor.slot3Age }}', '{{ humidor.slot3.name }}', '{{ humidor.slot3.body }}', '{{ humidor.slot3.description }}', '{{ humidor.slot3.fillerCountry }}')">
                <img style='width:100%;height:100%;' src="{{ asset('uploads/cigar/' ~ humidor.slot3.image) }}">
            </div>
        {% else %}
            <div id="slot3" class="slot"></div>
        {% endif %}
        {% if humidor.slot4 is not null %}
            <div id="slot4" class="slot slot-filled" data-toggle="modal" data-target="#cigar-modal" onmousedown="setModal({{ humidor.slot4.id }},'{{ humidor.slot4Age }}', '{{ humidor.slot4.name }}', '{{ humidor.slot4.body }}', '{{ humidor.slot4.description }}', '{{ humidor.slot4.fillerCountry }}')">
                <img style='width:100%;height:100%;' src="{{ asset('uploads/cigar/' ~ humidor.slot4.image) }}">
            </div>
        {% else %}
            <div id="slot4" class="slot"></div>
        {% endif %}
        <div id="slot5" class="slot" {% if humidor.slot5 is not null %}style="top:-191px"{% endif %}>
            {% if humidor.slot5 is not null %}
                <img style='width:100%;height:100%;' src="{{ asset('uploads/cigar/' ~ humidor.slot5.image) }}">
            {% endif %}
        </div>
        <div id="slot6" class="slot" {% if humidor.slot6 is not null %}style="top:-191px"{% endif %}>
            {% if humidor.slot6 is not null %}
                <img style='width:100%;height:100%;' src="{{ asset('uploads/cigar/' ~ humidor.slot6.image) }}">
            {% endif %}</div>
        <div id="slot7" class="slot" {% if humidor.slot7 is not null %}style="top:-191px"{% endif %}>
            {% if humidor.slot7 is not null %}
                <img style='width:100%;height:100%;' src="{{ asset('uploads/cigar/' ~ humidor.slot7.image) }}">
            {% endif %}
        </div>
        <div id="slot8" class="slot" {% if humidor.slot8 is not null %}style="top:-191px"{% endif %}>
            {% if humidor.slot8 is not null %}
                <img style='width:100%;height:100%;' src="{{ asset('uploads/cigar/' ~ humidor.slot8.image) }}">
            {% endif %}
        </div>
    </div>
    <img id="vr-outer" src="{{ asset('images/humidor_page/humidor_edited.png') }}">
</div>

    <!-- cigar modal -->
    <div id="cigar-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="name"></span></h4>
                </div>
                <div class="modal-body">
                    <p><b>Aged: </b><i><span id="aged-days"></span>days</i></p>
                    <p><b>Body: </b><span id="body"></span></p>
                    <p><b>Wrapper Name: </b><span id="wrapper-name"></span></p>
                    <p><b>Wrapper Color: </b><span id="wrapper-color"></span></p>
                    <p><b>Manufacturer Name: </b><span id="manufacturer-name"></span></p>
                    <p><b>Manufacturer Description: </b><span id="manufacturer-description"></span></p>
                    <p><b>Shape Type: </b><span id="shape-type"></span></p>

                    <p><b>Description: </b><span id="description"></span></p>
                    <p><b>Filler Country: </b><span id="filler"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal" onclick="reactionModal()">Reaction</button>

                </div>
            </div>

        </div>
    </div>
    <!-- reaction modal -->
    <div id="reaction-modal" class="modal fade" role="dialog" style="max-height:650px;overflow:scroll">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" id="experiences-click" href="#experiences">Experiences</a></li>
                        <li class="active"><a data-toggle="tab" href="#newexperience">New Experience</a></li>
                    </ul>
                </div>
                <div class="modal-body" id="reaction-modal-body" style="height:500px;overflow:scroll;">
                    <div class="tab-content">
                        <div id="experiences" class="tab-pane fade in active">
                            <div id="experience-archive"></div>
                        </div>
                        <div id="newexperience" class="tab-pane fade in active">
                            <h6>Your Experience</h6>
                            <textarea id="experience-text" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="submitExperience()">Add</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}