{% extends 'admin-base.html.twig' %}

{% block title %}
    Pending Experiences
{% endblock %}

{% block stylesheets %}
    <style>



    </style>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>User</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for experience in experiences %}
            <tr>
                <td>{{ experience.user }}</td>
                <td>{{ experience.description }}</td>
                <td>{{ experience.status }}</td>
                <td>
                    {% if experience.status == 'pending' %}
                        <a class="btn btn-primary" href="{{ path('approve-experience', {id: experience.id, status: 'publish' }) }}">Approve/Publish</a>

                    {% endif %}
                    <a class="btn btn-danger" href="{{ path('approve-experience', {id: experience.id, status: 'erase' }) }}">Erase</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}